<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>304057731775-kjbd5tniu4m1kt3mchh08o9aqaai37qm.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.304057731775-kjbd5tniu4m1kt3mchh08o9aqaai37qm</string>
	<key>API_KEY</key>
	<string>AIzaSyCkmf0fPchd7OJlOVQkcbyqVc0Yna6cGEw</string>
	<key>GCM_SENDER_ID</key>
	<string>304057731775</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>santamaria.Can-I-Park-Here</string>
	<key>PROJECT_ID</key>
	<string>can-i-park-here-ca2e1</string>
	<key>STORAGE_BUCKET</key>
	<string>can-i-park-here-ca2e1.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:304057731775:ios:6383aaebe301eb17</string>
	<key>DATABASE_URL</key>
	<string>https://can-i-park-here-ca2e1.firebaseio.com</string>
</dict>
</plist>